@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree&family=Karla&family=Open+Sans&family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /*primary colors*/
    --primary-strong-cyan:hsl(171, 66%, 44%);
    --primary-light-blue: hsl(233, 100%, 69%);

    /*nuetral*/
    --neutral-Dark-Grayish-Blue: hsl(210, 10%, 33%);
    --nuetral-Grayish-Blue: hsl(201, 11%, 66%);

    /*other colors*/
    --white:#fff;
    --gray:hsl(0, 0%, 96%);

    /*Body font*/
    --Font-size: 18px;

    /*screen breakpoint*/
    --Mobile: 375px    
    --Desktop: 1440px
}


body{
    font-size: 1.125em;
    font-family: 'Bai Jamjuree', sans-serif;
    background-color: var(--white);
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/images/bg-header-mobile.png');
    padding: 5em;
}
.banner{
    display: flex;
    justify-content:center ;
    align-items: center;
    flex-direction: column;
}


.banner > h1{
    text-align: center;
    width: 73%;
    color: var(--neutral-Dark-Grayish-Blue);
}

.banner > p{
    width: 100%;
    line-height: 27px;
    padding: 1.5em;
    text-align: center;
    color:var(--nuetral-Grayish-Blue)
}

.btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5em;
}

.btn > .btn-1{
    background-color:var(--primary-strong-cyan);
    color: var(--white);
    box-sizing: border-box;
    padding: 1em 7.2em;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 35px;
    box-shadow: 0 3px 3px var(--primary-strong-cyan);
}

.btn > .btn-1:hover{
    opacity: .7;
}

.btn > .btn-1:active{
    opacity: .7;
}

.btn > .btn-2:hover{
    opacity: .7;
}
.btn > .btn-2:active{
    opacity: .7;
}



.btn > .btn-2{
    background-color:var(--primary-light-blue);
    color: var(--white);
    box-sizing: border-box;
    padding: 1em 7.2em;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 1.5em;
    border-radius: 35px;
    box-shadow: 0 3px 3px var(--primary-light-blue);
}

.section-1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 7em;
}

.section-1 > h2 {
    width: 70%;
    text-align: center;
    color: var(--neutral-Dark-Grayish-Blue);
}

.section-1 > p{
    margin-top: 1.5em;
    width: 85%;
    text-align: center;
    color: var(--nuetral-Grayish-Blue);
}

.section-2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-2 > img{
    width: 86%;
    margin-top: 3em;
}

.section-2 > .flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.flex > div{
    text-align: center;

}
.flex > .one h4{
    color: var(--neutral-Dark-Grayish-Blue);
    padding-top: 3em;
}

.flex > .one p{
    color: var(--nuetral-Grayish-Blue);
    width: 100%;
    text-align: center;
    padding-top: .6em;
    padding-left: 1.5em;
    padding-right: 1.5em;
}
.flex > .two h4{
    color: var(--neutral-Dark-Grayish-Blue);
    padding-top: 3em;
}

.flex > .two p{
    color: var(--nuetral-Grayish-Blue);
    width: 97.2%;
    text-align: center;
    padding-top: .6em;
    padding-left: 1.5em;
    padding-right: 1.5em;
}
.flex > .three h4{
    color: var(--neutral-Dark-Grayish-Blue);
    padding-top: 3em;
}

.flex > .three p{
    color: var(--nuetral-Grayish-Blue);
    width: 100%;
    text-align: center;
    padding-top: .6em;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.section-3{
    margin-top: 7em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-3 > h2{
    width: 70%;
    text-align: center;
    color: var(--neutral-Dark-Grayish-Blue);
}

.section-3 > p{
    width: 85%;
    text-align: center;
    color: var(--nuetral-Grayish-Blue);
}

.section-3 > img{
    width: 95%;
    margin-top: 3em;
}

.section-4{
    margin-top: 5em;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.section-4 > h2{
    text-align: center;
    color: var(--neutral-Dark-Grayish-Blue);
    width: 90.1%;
    margin-left: 1em;
}

.section-4 > p{
    text-align: center;
    color: var(--nuetral-Grayish-Blue);
    width: 90%;
    margin-top: .9em;
    margin-left: 1em;
}


.icon-1{
    margin-top: 3em;
}

.icon-1 > h2{
    margin-top: 1em;
    color: var(--neutral-Dark-Grayish-Blue);
}

.icon-1 > p{
    width: 85%;
    color: var(--nuetral-Grayish-Blue);
    text-align: center;
    margin-top: 1.2em;
    margin-left: 1.5em;
}

.icon-2{
    margin-top: 3em;
}


.icon-2 > h2{
    margin-top: 1em;
    color: var(--neutral-Dark-Grayish-Blue);
}

.icon-2> p{
    width: 90%;
    color: var(--nuetral-Grayish-Blue);
    text-align: center;
    margin-top: 1.2em;
    margin-left: 1.5em;
}


.icon-3{
    margin-top: 3em;
}

.icon-3 > h2{
    margin-top: 1em;
    color: var(--neutral-Dark-Grayish-Blue);
}

.icon-3 > p{
    width: 85%;
    color: var(--nuetral-Grayish-Blue);
    text-align: center;
    margin-top: 1.2em;
    margin-left: 1.5em;
}

.brand-logo{
    margin-top: 5em;
    display: grid;
    row-gap: 30px;
    place-items: center;
    grid-template-rows: repeat(5,1fr);
}

.brand-logo > img{
    width: 30%;
}

.clipboard{
    margin-top: 7em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.clipboard > h2{
    text-align: center;
    width: 75%;
    color: var(--neutral-Dark-Grayish-Blue);
}


.clipboard > p{
    text-align: center;
    width: 86%;
    color: var(--nuetral-Grayish-Blue);
}

.clipboard > .btn{
    margin-top: 1em;
}

.attribution{
    margin-top: 3em;
    text-align: center;
    color: var(--neutral-Dark-Grayish-Blue);
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.attribution a{
    text-decoration: none;
    color: var(--primary-strong-cyan);
}

.main-footer{
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3em;
    background-color:var(--gray) ;
}

.main-footer > img{
    width: 30%;
}

.grid{
    list-style: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-top: 2em;
    
}

.grid > li{
    padding-top: 2em;

}

.grid > li a:hover{
    color: var(--primary-strong-cyan);
}

.grid a{
    text-decoration: none;
    color: var(--neutral-Dark-Grayish-Blue);

}

.social-links{
    margin-top: 9em;
    margin-right: 1em;
}

.social-links > i{
    color: var(--neutral-Dark-Grayish-Blue);
    cursor: pointer;
    font-size: 1.5em;
    margin-left: 1em;
}

.social-links > i:hover{
    color: var(--primary-strong-cyan);
}

/*Creating media quary fo different screen size*/
@media(min-width:1024px){
    header{
        background-image: url('/images/bg-header-desktop.png');
    }

    header > img{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .banner >h1{
        font-size: 1.8rem;
    }

    .banner > p{
        width: 35%;
        font-size: .8rem;
    }

    .btn{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 10px;
        margin-top: -2em;
    }
    .btn > .btn-1, 
    .btn > .btn-2{
        padding: 1em 2em;

    }

    .btn-1{
        margin-top: 1.5em;
    }

    .section-1 P{
        font-size: .8rem;
        width: 37%;
    }

    .section-2{
        flex-direction: row;
    
    }

    
    .section-2 > img{
        width: 40%;
        margin-left: -7em;
    }

    .flex{
        margin-left: 18em;
    }

    .flex > .one{
        text-align: left;
    }

    .flex > .one h4{
        margin-left: 1em;
    }

    .flex > .one  p{
        width: 60%;
        text-align: left;
        font-size: .8rem;
    }


    .flex > .two{
        text-align: left;
    }

    .flex > .two h4{
        width: 100%;
        margin-left: -7.5em;
    }

    .flex > .two  p{
        width: 100%;
        text-align: left;
        margin-left: -12em;
        font-size: .8rem;
    }


    .flex > .three{
        text-align: left;
    }

    .flex > .three h4{
        width: 100%;
        margin-left: -3.4em;
    }

    .flex > .three  p{
        width: 100%;
        text-align: left;
        font-size: .8rem;
        margin-left: -6.3em;
    }

    .section-3 > p{
        font-size: .8rem;
        width: 40%;
    }

    .section-3 > img{
        width: 55%;
    }

    .section-4 > h2{
    
        margin-left:2em;
    }

    .section-4 > p{
        font-size: .8rem;
        margin-left: 4em;
    }

    .icon-container{
       display: grid;
       grid-template-columns: repeat(3, 1fr);
       place-items: center;
    }

    .icon-1 h2{
        font-size: 1.5rem;
    }
    .icon-2 h2{
        font-size: 1.5rem;
    }
    .icon-3 h2{
        font-size: 1.5rem;
    }

    .icon-1 > p{
        width: 90%;
        font-size: .8rem;
        margin-right:-20em
    }

    .icon-2 > p{
        width: 100%;
        font-size: .8rem;
        margin-right:-10em
    }

    .icon-3 > p{
        width: 100%;
        font-size: .8rem;
        margin-right:-10em
    }

    .brand-logo{
        display: grid;
        grid-template-columns: repeat(5,1fr);
        place-items: center;
        margin-top: 10em;
    }

    .clipboard{
        margin-top: -5em;
    }

    .clipboard > p{
        margin-top: 1em;
        font-size: .8rem;
        width: 40%;
        line-height: 20px;
    }

    .clipboard > .btn{
        margin-top: -1em;
    }

    .main-footer{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        place-items: center;
        padding: 0 0 3em 0;
    }

    .main-footer > img{
        width: 15%;
        margin-top: 3em;

    }

    .main-footer > .grid{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        place-items: center;
        column-gap: 50px;
    }

    .main-footer > .grid li:nth-child(1){
        margin-left: -2.6em;
    }

    .main-footer > .grid li:nth-child(5){
        margin-left: -2.6em;
    }

    .social-links{
        margin-top: 3em;
    }



    
}
@media(min-width:1440px){

    
}





